somnilopy/__pycache__/
somnilopy/__pycache__/
.idea/
autosave/
not-sleeptalking/*
is-sleeptalking/*
delete/*
!autosave/.gitkeep 
!not-sleeptalking/.gitkeep 
!is-sleeptalking/.gitkeep
!delete/.gitkeep
mylog.log

