somnilopy/__pycache__/
somnilopy/api/endpoints/__pycache__
.idea/
__pycache__
frontend/pocketsphinx-5prealpha
frontend/sphinxbase-5prealpha/

recordings/*
!recordings/.gitkeep
mylog.log
test-files
errors
.ipynb_checkpoints

