beautifulsoup4==4.4.1
chardet==2.3.0
html5lib==0.999
louis==2.6.4
lxml==3.5.0
onboard==1.2.0
PyAudio==0.2.11
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
python-apt===1.1.0.b1-elementary2-r3-ubuntu0.4.1.1
python-debian==0.1.27
python-systemd==231
pyxdg==0.25
requests==2.9.1
sessioninstaller==0.0.0
six==1.10.0
system-service==0.3
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
vboxapi==1.0
virtualenv==15.0.1
