appnope==0.1.0
backcall==0.1.0
cffi==1.12.2
Click==7.0
decorator==4.4.0
Flask==1.0.2
Flask-Cors==3.0.7
ipdb==0.12
ipython==7.4.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10.1
MarkupSafe==1.1.1
mutagen==1.42.0
numpy==1.22.0
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
pocketsphinx==0.1.15
prompt-toolkit==2.0.9
ptyprocess==0.6.0
PyAudio==0.2.11
pycparser==2.19
Pygments==2.3.1
schedule==0.6.0
six==1.12.0
SoundFile==0.10.2
SpeechRecognition==3.8.1
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.15.3
